.flex {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
}

.noti-ppal {
    width: 100%;
    margin: 30px 0;
}
.noti-secu {
    min-height: 100px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-noti {
    display: flex;
    margin: 25px auto;
    width: 95%;
}
.tit-noti {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin: 40px 25px;
}
.hidden {
    display: none;
}
.hamburguer {
    max-width: 30px;
    max-height: 30px;
    margin: 20px;
}
.red-soc {
    display: flex;
    justify-content: space-around;
}
.red-soc img {
    max-width: 30px;
    max-height: 30px;
}

/* -------------------------------- ESTILOS ------------------------------------------ */

/*---------- Etiquetas ----------------*/
nav {
    border-bottom: 1px solid;
    padding-bottom: 15px;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    text-align: center;
    font-size: 60px;
    color: gray
}
h3 {
    text-align: center;
    font-size: 25px;
    color: gray
}
body {
    background-color: lightgrey;
}

a:hover {
    color: red;
}

/*--------------Clases------------------*/

.noti-ppal {
    border-bottom: 1px solid;
}
.noti-secu {
    background-color: rgb(220, 220, 220);
}